
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 11px;
    scroll-behavior: smooth;
    font-family: "Montserrat"; sans-serif;
}

.container {

}
.btn {
    display: inline-block;
    padding: 10px 30px;
    
}